//Reset Styles

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	font-size: 1.5vw;
	font-weight: 900;
	font-family: 'Alex Brush', cursive;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Base Styles

body,html {
	height: 100%;
}

textarea {
}


//Layout Styles

$sticksSize: 10%;
$stickImgSize: 80%;

.addStick{
	width: $sticksSize;
	height: $sticksSize;
	position: fixed;
	left:1%;
	top:2vw;
}

.addStick2{
	width: $sticksSize;
	height: $sticksSize;
	position: fixed;
	left:1%;
	top:12vw;
}

.addStick__img{
	width: $stickImgSize;
	height: auto;
}

$binSize: 13%;
$binImgSize: 60%;

.trashBin{
	width: $binSize;
	height: $binImgSize;
	position: fixed;
	right:1%;
	top:2vw;
}

.trashBin__img{
	width: $binImgSize;
	height: auto;
}

.sticks{
	text-align: center;
	width: 67%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.sticks__container{
	height: 100%;
}

$imgWidth: 31%;
$border: $imgWidth * 0.1;

.sticks__article{
	float: left;
	width: $imgWidth;
	height: $imgWidth * 0.75;
	min-width: $imgWidth * 0.13;
	min-height: $imgWidth * 0.13;
	padding-bottom: 30%;
	border: 0.5vw solid black;
	margin: 1% 1%;
	position: relative;
}

.sticks__img{
	width: 80%;
}

.sticks__removeField{
	position: absolute;
    right: 1vw;
    bottom: 1vw;
    font-weight: 900;
    line-height: 1;
    font-size: 10vw;
    cursor: pointer;
    width: 2vw;
}

.newField{

}

.newField__plusSign{
	position: fixed;
    right: 4.8vw;
    top: 12vw;
    font-weight: 900;
    line-height: 1;
    font-size: 10vw;
    cursor: pointer;
    width: 10vw;
}

.stickText{
	background: none;
	position: absolute;
    top: 3vw;
    left: 5vw;
    height: 10vw;
    width: 11vw;
}