//Reset Styles

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Base Styles

body,html {
	height: 100%;
}



//Layout Styles

$sticksSize: 10%;
$stickImgSize: 80%;

.addStick{
	width: $sticksSize;
	height: $sticksSize;
	position: fixed;
	left:1%;
	top:2vw;
}

.addStick2{
	width: $sticksSize;
	height: $sticksSize;
	position: fixed;
	left:1%;
	top:12vw;
}

.addStick__img{
	width: $stickImgSize;
	height: auto;
}

.sticks{
	text-align: center;
	width: 67%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.sticks__container{
	height: 100%;
}

$imgWidth: 30%;
$border: $imgWidth * 0.1;

.sticks__article{
	float: left;
	width: $imgWidth;
	height: $imgWidth * 0.75;
	min-width: $imgWidth * 0.13;
	min-height: $imgWidth * 0.13;
	padding-bottom: 30%;
	border: 0.5vw solid black;
	margin: 1% 1%;
}

.sticks__img{
	width: 80%;
}

