/* line 3, ../scss/index.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 14, ../scss/index.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 17, ../scss/index.scss */
body {
  line-height: 1;
  height: 100%;
}

/* line 22, ../scss/index.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../scss/index.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../scss/index.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 33, ../scss/index.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 40, ../scss/index.scss */
body, html {
  height: 100%;
}

/* line 51, ../scss/index.scss */
.addStick {
  width: 10%;
  height: 10%;
  position: fixed;
  left: 1%;
  top: 2vw;
}

/* line 59, ../scss/index.scss */
.addStick2 {
  width: 10%;
  height: 10%;
  position: fixed;
  left: 1%;
  top: 12vw;
}

/* line 67, ../scss/index.scss */
.addStick__img {
  width: 80%;
  height: auto;
}

/* line 72, ../scss/index.scss */
.sticks {
  text-align: center;
  width: 67%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 80, ../scss/index.scss */
.sticks__container {
  height: 100%;
}

/* line 87, ../scss/index.scss */
.sticks__article {
  float: left;
  width: 30%;
  height: 22.5%;
  min-width: 3.9%;
  min-height: 3.9%;
  padding-bottom: 30%;
  border: 0.5vw solid black;
  margin: 1% 1%;
}

/* line 98, ../scss/index.scss */
.sticks__img {
  width: 80%;
}
