/* line 3, ../scss/index.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 14, ../scss/index.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 17, ../scss/index.scss */
body {
  line-height: 1;
  height: 100%;
  font-size: 1.5vw;
  font-weight: 900;
  font-family: 'Alex Brush', cursive;
}

/* line 25, ../scss/index.scss */
ol, ul {
  list-style: none;
}

/* line 28, ../scss/index.scss */
blockquote, q {
  quotes: none;
}

/* line 32, ../scss/index.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 36, ../scss/index.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../scss/index.scss */
body, html {
  height: 100%;
}

/* line 52, ../scss/index.scss */
.addStick {
  width: 10%;
  height: 10%;
  position: fixed;
  left: 1%;
  top: 2vw;
}

/* line 60, ../scss/index.scss */
.addStick2 {
  width: 10%;
  height: 10%;
  position: fixed;
  left: 1%;
  top: 12vw;
}

/* line 68, ../scss/index.scss */
.addStick__img {
  width: 80%;
  height: auto;
  cursor: -webkit-grab;
  cursor: grab;
}

/* line 78, ../scss/index.scss */
.trashBin {
  width: 13%;
  height: 60%;
  position: fixed;
  right: 1%;
  top: 2vw;
}

/* line 86, ../scss/index.scss */
.trashBin__img {
  width: 60%;
  height: auto;
}

/* line 91, ../scss/index.scss */
.sticks {
  text-align: center;
  width: 67%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 99, ../scss/index.scss */
.sticks__container {
  height: 100%;
}

/* line 106, ../scss/index.scss */
.sticks__article {
  float: left;
  width: 31%;
  height: 23.25%;
  min-width: 4.03%;
  min-height: 4.03%;
  padding-bottom: 30%;
  border: 0.5vw solid black;
  margin: 1% 1%;
  position: relative;
  cursor: grab;
  cursor: -webkit-grab;
}

/* line 120, ../scss/index.scss */
.sticks__img {
  width: 80%;
}

/* line 124, ../scss/index.scss */
.sticks__removeField {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  font-weight: 900;
  line-height: 1;
  font-size: 10vw;
  cursor: pointer;
  width: 2vw;
}

/* line 135, ../scss/index.scss */
.sticks__pen {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  font-weight: 900;
  line-height: 1;
  font-size: 10vw;
  cursor: pointer;
  width: 2vw;
}

/* line 150, ../scss/index.scss */
.newField__plusSign {
  position: fixed;
  right: 4.8vw;
  top: 12vw;
  font-weight: 900;
  line-height: 1;
  font-size: 10vw;
  cursor: pointer;
  width: 10vw;
}

/* line 161, ../scss/index.scss */
.stickText {
  background: none;
  position: absolute;
  top: 3vw;
  left: 5vw;
  height: 10vw;
  width: 11vw;
}

/* line 170, ../scss/index.scss */
.stickText--editCursor {
  cursor: grab;
  cursor: -webkit-grab;
}
